* {
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
    height: 100%;
}

/* * * * * *
 *  Menu
 * * * * * */

#menu {
    width: 12%;
    height: 100%;
    box-sizing:border-box;
    background-color: #f2f2f2;
    font-size: 12px;
    float: left;
    overflow-y: auto;
    position: fixed;
}

/* * * * * *
 *  Buttons
 * * * * * */

.last-button {
    margin-bottom: 30px;
}

.button {
    background-color: #00483A;
    color: #fff;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 83%;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #00483A;
    border-radius: 2px;
    box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.2);
    display: block;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.button:hover {
    background-color: #006957;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease all;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.button:active {
    background-color: #fff;
    color: #006957;
    border-color: #006957;
    transition: 0.3s ease all;
    box-shadow: none;
    transform: none;
    text-decoration: none;
}

.non-team {
    background-color: #14C239;
}

.non-team:hover {
    background-color: #18d545;
}

.non-team:active {
    background-color: #fff;
    color: #18d545;
    border-color: #18d545;
}

.active {
    background-color: #FFBE00;
    cursor: default;
    text-decoration: none;
    pointer-events: none;
}

.active:hover {
    background-color: #FFBE00;
    box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.2);
    transition: none;
    transform: none;
}

.active:active {
    background-color: #FFBE00;
    color: #fff;
    border: 1px solid #00483A;
}

/*  I don't know why, but I need this
    so the buttons don't have the underline
    for like a split second when clicked
 */
#menu a {
    color: #fff;
    text-decoration: none;
}

.submit {
    background-color: #1684d2;
    border-color: #1564a3;
}

.submit:hover {
    background-color: #1898ef;
}

.submit:active {
    background-color: #fff;
    color: #1898ef;
    border-color: #1898ef;
}

.cancel {
    background-color: #ff2f23;
    border-color: #cb3f36;
}

.cancel:hover {
    background-color: #ff6054;
}

.cancel:active {
    background-color: #fff;
    color: #ff6054;
    border-color: #ff6054;
}

/* * * * * *
 *  Content
 * * * * * */

#page_link {
    font-size: 11px;
    float: right;
}

#submit_trade_sec {
    position: absolute;
    top: 16%;
    left: 28%;
    margin-left: 50px;
}

#content {
    width: 88%;
    height: 100%;
    box-sizing:border-box;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}

/* * * * * *
 *  Table
 * * * * * */

#prospects_table {
    border-bottom: 0;
    top: 16px;
    position: relative;
}

#prospects_table thead td {
    font-size: 1.15em;
    font-weight: bold;
}

#prospects_table tbody td {
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table.dataTable .even {
    box-sizing:border-box;
    border: 1px solid #000;
    background-color: #fafafa;
}

#prospects_table thead tr td {
    border: 0;
}

.grade_a {
    color: #001FD3
}

.grade_b {
    color: #007E0A
}

.grade_c {
    color: #CDCA00
}

.grade_d {
    color: #9F5D00
}

.grade_low {
    color: #9F0600
}

input {
    margin-top: 1px;
}

/* * * * * *
 *  Messages
 * * * * * */

#message {
    margin: 60px auto 0 auto;
    border: 1px solid #763838;
    border-radius: 2px;
    width: 750px;
    height: 78px;
    line-height: 17px;
    background-color: #FFCBCA;
    z-index: 2;
    position: relative;
    top: 28%;
    overflow-y: auto;
}

.hidden {
    display: none;
}
